# Virtual environment
virenv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database
network_traffic.db

# Matplotlib cache
*.mplstyle
.mpl-cache/

# Other common ignores
*.log
.DS_Store
.vscode/